@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 2rem;
    min-height: 100vh;
    font-family: 'Caveat', cursive;
    background: hsla(154, 100%, 76%, 1);
    background: linear-gradient(90deg, hsla(154, 100%, 76%, 1) 0%, hsla(234, 100%, 83%, 1) 50%, hsla(288, 100%, 81%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(154, 100%, 76%, 1) 0%, hsla(234, 100%, 83%, 1) 50%, hsla(288, 100%, 81%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(154, 100%, 76%, 1) 0%, hsla(234, 100%, 83%, 1) 50%, hsla(288, 100%, 81%, 1) 100%);
}

.header {
    padding: 3rem;
    font-size: 3rem;
    text-align: center;
}

.feeds {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.detailed-photo {
    padding: 1em;
    background-color: #8ab9e7;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 0 auto;
    border-radius: 10px;
}

.detailed-photo img {
    width: 100%;
    border-radius: 10px;
}

.fa {
    cursor: pointer;
    margin-bottom: 10px;
}

.fa-heart {
    color: red;
}

.comments {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.comment {
    padding: 0.5em;
    background-color: wheat;
    border-radius: 5px;
    color: #484804;
}

ul, li {
    list-style: none;
}


.comments-info, .photo-info {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
    font-family: 'Philosopher', sans-serif;
}

.caption {
    color: blanchedalmond;
}

.new-comment {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid white;
    padding-top: 1em;
}

.new-comment input, button {
    border: none;
    outline: none;
    background: transparent;
}

input {
    font-size: 1rem;
}

::placeholder {
    color: white;
}

button {
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    color: darkred;
}

.feed-placeholder-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.feed-placeholder {
    margin: 0 auto;
    width: 40%;
    height: 50vh;
    border-radius: 10px;
    color: white;
    font-size: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: blink 0.5s infinite ease-in-out alternate;
}

.feed-error {
    font-size: 2.5rem;
    text-align: center;
    color: white;
}

.stream-notification{
    text-align: center;
    color: #a42929;
    border-radius: 10px;
    margin: 0 auto 1rem;
    cursor: pointer;
    width: 40%;
    font-size: 2rem;
    padding: 0.5em;
    background-color: blanchedalmond;
}

footer {
    float: right;
}

@keyframes blink {
    to {
        background-color: #8ab9e7;
    }
}
